/* Shared */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 16px;
font-weight: 400 !important;

font-family: Decima,monospace,sans-serif !important;


letter-spacing: 2px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;

}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

/* Animation */

/* starting state */
.fade-enter { 
    opacity: 0;
}


.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}



.background-enter {
    
  transform: translate(-100%);
}
.background-enter.background-enter-active {
     transform: translate(0%);
    transition: transform 1.5s ease-in-out  ;

}

.background-appear {
  opacity: 0;
   
}

.background-appear.background-appear-active {
     opacity: 1;
    transition: opacity 3s ease-in-out;
    
}



.background-leave {

  opacity: 1;
}
.background-leave.background-leave-active {
 
  opacity: 0;
transition: opacity 0.25s ease-in-out;
}

.background1-enter {
    
  transform: translate(0%);
}
.background1-enter.background-enter-active {
     transform: translate(100%);
    transition: transform 2s ease-in-out  ;

}

.background1-appear {
  opacity: 0;
    transform: translate(0%);
}

.background1-appear.background-appear-active {
     opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transform: translate(100%);
  transition: transform 2.5s ease-in-out;
}

.background1-leave {

  transform: translate(0%);
}
.background1-leave.background-leave-active {
 
  transform: translate(100%);
  transition: transform 1s ease-in-out;
}




.example-enter {
  
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
 
  transition: opacity 500ms ease-in;
}

.example-leave {

  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.img-thumbnail {

  border: none !important ;
  z-index: -1 !important;
}

.card{

  border: none !important;
  background-color: none !important;
}

.img {

z-index: -1 !important ;
}

#foot {

background-color: white;
}

.display-4 {

  font-size:2.2rem !important;
  font-weight: 400 !important;
  line-height: 3 !important;
}

.jumbotron {
  
margin-top:-35px !important;
margin-bottom:-0px !important;
 border:1px solid rgba(0,0,0,.125) !important;
 background-color: #fff !important ;
}


.container{

max-width: 1540px !important; 
}

.display-3 { 
font-size: 2.7rem !important;
font-weight: 300 !important;

 }


 .card-img-top  { 

margin-bottom: -30px !important; 
margin-left: -40px !important;

  }

.card-body {
margin-left: -40px !important;
}

.img-thumbnail {
max-width: 161px !important;
height: 199px !important;
padding: none;
}

.scroll {
margin-top:-5px !important;

}

.search {

margin-bottom: -60px !important;

}


.text-danger {

font-weight: 300 !important;
font-family: Decima,monospace,sans-serif !important;
}

.text-danger {

font-weight: 300 !important;
font-family: Decima,monospace,sans-serif !important;
}

.header-text {
font-weight: 300 !important;
font-family: Decima,monospace,sans-serif !important;


}


.question-test {


font-weight: 400 !important;

font-family: Decima,monospace,sans-serif !important;


letter-spacing: 3px;


}

.particles{

position: fixed;
top: 0;
right: 0;
bottom:  0;
left: 0;
z-index: -1;

}

.question-section{

background-opacity: 0.1;



}


.kithelper {

  color:#6f99c2 !important;
}

.bg-warning1 {

background-color: #ffdc73 !important;

}

.btn-outline-secondary{


  /*background-color: #fffbfb !important;*/
}

.buttonedit{

font-family: Decima,monospace,sans-serif !important;
  font-weight: 500;
  margin-right: -5px ;
  margin-bottom: 15px; 
}
.searchingtext{


font-family: Decima,monospace,sans-serif !important;

}

.question1 {



font-weight: 500 !important;

font-family: Decima,monospace,sans-serif !important;


}

.font1{

font-family: Decima,monospace,sans-serif !important;

}

.card-button{

position: relative; 
  z-index: 1000 !important;
}